@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Mukta Vaani', sans-serif;
    box-sizing: border-box;
}
header {
    text-align:center;
    background-color: black;
    color:rgb(110, 196, 247);
    position:relative;
    height: 12vh;
    z-index: 2;
}

header h1 {
    font-family: 'Nova Square', cursive;
    padding: 20px;
    margin: 0;
    font-size: 3rem;

}

#background-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url('../images/Space-background.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
}

#game-container {
    position: relative; 
    top: 20vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-around;
    align-items: center;   
}

#gauge-container {
    display: flex;
    width: 40%;
    height: 50vh;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
}