@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');
/* general styles for whole document */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Mukta Vaani', sans-serif;
    box-sizing: border-box;
}

/* styles for header section */
header {
    text-align:center;
    background-color: black;
    color:rgb(110, 196, 247);
    position:relative;
    height: 12vh;
    z-index: 2;
}

header h1 {
    font-family: 'Nova Square', cursive;
    padding: 20px;
    margin: 0;
    font-size: 3rem;

}


/* styles for game background image */
#background-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url('../images/Space-background.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
}


/* styles for container holding elements of the game */
#game-container {
    position: relative; 
    top: 20vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-around;
    align-items: center;   
}

/* styles for the fuel gauge */
#gauge-container {
    display: flex;
    width: 60%;
    height: 50vh;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
}

#gauge-container h2 {
    text-align: center;
    display: inline-block;
    font-family: 'Nova Square', cursive;
}

#fuel-number {
    text-align: center;
    height: 30px;
    width: 30px;
}


#gauge {
    border: solid black 1px;
    width: 50px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

#fuel-in-gauge {
    border: solid black 1px;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: yellow;    
}

/* styles for the questions section */
#questions-container {
    height: 50vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-items: center;
    border-radius: 20px;
    background-color: azure;
}

#question-image {
    height: 25vh;
    width: 80%;
    border: solid darkslategray 1px;
    display: block;
    margin: 20px auto 10px;

}

#question-text {
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0px auto;
}

#question-text h2 {
    font-size: 1.2rem;
}
  
#answers-container {
    width: 80%;
    height:auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px auto;
}

.answer {
    height: 40px;
    width: 25%;
    border-radius: 10px;
    border: solid darkslategray 1px;
    text-align: center;
    background-color: rgb(10, 5, 77);
    color: white;
    font-weight: 600;
    box-shadow: 0 8px #558;
   }

.answer:hover {
    color: rgb(253, 229, 90);
    box-shadow: 0 8px #558;
} 

/* create effect that button is being pressed when clicked */
.answer:active {
    box-shadow: 0 4px #558;
    background-color: rgb(11, 11, 70);
    transform: translateY(4px);
}  



/* styles for planet-stats section */
#current-planet {
    width: 80%;
    height: 50vh;
    display:flex;
    padding: 15px;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-content: center;
    background-color: azure;    
}

#current-title h2 {
    font-family: 'Nova Square', cursive;
    text-align: center;
    padding-bottom: 5px;
}

#current-planet th {
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 5px;
}

#current-planet td {
    text-align: left;
}


/*styles for flight path */
#flight-container {
    display:flex;
    justify-content: space-around;
    background-color: azure;
    height:15vh;
    align-self: center;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    grid-column: 2 / span 3;
    position: relative;
    top: 20vh;
}

/* shows user their progress through the flight path */
.active {
    background-color: gold;
}


/*style modal elements */



.modal {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    justify-content: center;
    align-items: center; 
    display: flex;    
}

 
.modal-info {
    border-radius: 20px;
    background-color:rgb(246, 255, 255);
    height: 300px;
    width: 400px;
    border: gold 5px solid;
    box-shadow: 0px 0px 20px 20px gold; 
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 10px;
   }

#correct-contents {
    border: rgb(106, 255, 47) 5px solid;
    box-shadow: 0px 0px 20px 20px rgb(106, 255, 47);
}

#incorrect-contents {
    border: #ffae00 5px solid;
    box-shadow: 0px 0px 20px 20px #ffae00;  
}

#wrong-again-contents {
    border: red 5px solid;
    box-shadow: 0px 0px 20px 20px;
}

.modal-info button {
       background-color: rgb(2, 2, 41);
       color:rgb(145, 216, 216);
       font-family: 'Nova Square', cursive;
       font-size:large;
       font-weight: 600;
       padding: 10px;
       border-radius: 10px;
       margin: 20px auto;
       box-shadow: 0 8px #558;
}

   
.modal-info button:hover {
       color: gold;
       background-color: rgb(11, 11, 70);
       box-shadow: 0 8px #558;
   }

/* add effect that button is depressed when user clicks */   
.modal-info button:active {
    box-shadow: 0px 4px #558;
    background-color: rgb(11, 11, 70);
    transform: translateY(4px);
}

/*style to hide modals */
.hide {
    display: none !important;
}

