@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* general styles for whole document */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* styles for header section */
header {
    text-align:center;
    background-color: black;
    color:rgb(110, 196, 247);
    position:relative;
    height: 12vh;
    z-index: 2;
}

header h1 {
    font-family: 'Nova Square', cursive;
    padding: 20px;
    margin: 0;
    font-size: 3rem;

}


/* styles for game background image */
#background-container, #modal-background {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('../images/Space-background.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0px;
}


/* styles for container holding elements of the game */
#game-container {
    position: relative; 
    top: 20vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-around;
    align-items: center;   
}

/* styles for the fuel gauge */
#gauge-container {
    display: flex;
    width: 60%;
    height: 50vh;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
}

#gauge-container h2 {
    text-align: center;
    display: inline-block;
    font-family: 'Nova Square', cursive;
}

#fuel-number {
    text-align: center;
    height: 30px;
    width: 30px;
}


#gauge {
    border: solid black 1px;
    width: 50px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

#fuel-in-gauge {
    border: solid black 1px;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: yellow;    
}

/* styles for the questions section */
#questions-container {
    min-height: 50vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-items: center;
    border-radius: 20px;
    background-color: azure;
}

#question-image {
    height: 25vh;
    width: 80%;
    display: block;
    margin: 20px auto 10px;
    border: none;
    text-align: center;

}

#question-image img {
    margin: 0 auto;
}

#question-text {
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0px auto;
}

#question-text h2 {
    font-size: 1.2rem;
}
  
#answers-container {
    width: 80%;
    height:auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px auto;
}

.answer {
    height: auto;
    width: 30%;
    border-radius: 10px;
    border: solid darkslategray 1px;
    text-align: center;
    background-color: rgb(10, 5, 77);
    color: white;
    font-weight: 600;
    box-shadow: 0 8px #558;
    padding: 3px 0px;
   }

.answer:hover {
    color: rgb(253, 229, 90);
    box-shadow: 0 8px #558;
} 

/* create effect that button is being pressed when clicked */
.answer:active {
    box-shadow: 0 4px #558;
    background-color: rgb(11, 11, 70);
    transform: translateY(4px);
}  



/* styles for planet-stats section */
#current-planet {
    width: 80%;
    min-height: 50vh;
    display:flex;
    padding: 15px;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-content: center;
    background-color: azure;    
}

#current-title h2 {
    font-family: 'Nova Square', cursive;
    text-align: center;
    padding-bottom: 10px;
}

#current-planet .darker {
    background-color: rgb(209, 231, 231);
}

#current-planet th {
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 10px;
}

#current-planet td {
    text-align: left;
    font-family: 'Nova Square', cursive;
    padding: 5px 0px;
}

.tooltip {
    position: relative;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    display: none;
    width: 200px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    padding: 5px;  
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    display: block;
  }

/*styles for flight path */
#flight-container {
    display:flex;
    justify-content: space-around;
    background-color: azure;
    height:15vh;
    align-self: center;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    grid-column: 2 / span 3;
    position: relative;
    top: 20vh;
}

/* shows user their progress through the flight path */
.active {
    background-color: gold;
}


/*style modal elements */



.modal {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    justify-content: center;
    align-items: center; 
    display: flex;    
}

 
.modal-info {
    border-radius: 20px;
    background-color:rgb(246, 255, 255);
    height: auto;
    width: 40vw;
    border: gold 5px solid;
    box-shadow: 0px 0px 30px 30px gold; 
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 30px;
}

.modal-info h2 {
    padding-bottom: 10px;
    font-family: 'Nova Square';
    text-align: center;
}

.modal-info h3 {
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

#correct-contents {
    border: rgb(106, 255, 47) 5px solid;
    box-shadow: 0px 0px 20px 20px rgb(106, 255, 47);
}



#incorrect-contents {
    border: #ffae00 5px solid;
    box-shadow: 0px 0px 30px 30px #ffae00;  
}

#wrong-again-contents, #no-fuel-contents {
    border: red 5px solid;
    box-shadow: 0px 0px 30px 30px red;
}

.modal-info button {
       background-color: rgb(2, 2, 41);
       color:rgb(145, 216, 216);
       font-family: 'Nova Square', cursive;
       font-size:large;
       font-weight: 600;
       padding: 10px;
       border-radius: 10px;
       margin: 20px auto;
       box-shadow: 0 8px #558;
}

   
.modal-info button:hover {
       color: gold;
       background-color: rgb(11, 11, 70);
       box-shadow: 0 8px #558;
   }

/* add effect that button is depressed when user clicks */   
.modal-info button:active {
    box-shadow: 0px 4px #558;
    background-color: rgb(11, 11, 70);
    transform: translateY(4px);
}

/*style to hide modals */
.hide {
    display: none !important;
}

/* styles for intro and rules modals*/
#intro-container, #rules-container {
    width: 70vw;
    height: auto;
    background-color:rgb(243, 250, 248);
    display: block;
    position: relative;
    border-radius: 20px;
    top: 15vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border: greenyellow 5px solid;
    box-shadow: 0px 0px 40px 40px greenyellow; 

}

#intro-container h1, #rules-text h1 {
    font-family: 'Nova Square', cursive;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}    

#intro-container p {
    font-size: large;
}

#info-container {
    padding: 20px;
}

#intro {
    line-height: 2rem;
}

#intro h1 {
    margin-bottom: 10px;
}

#rules-text li {
    padding: 5px 10px;
    font-size: large;
}

#start, #rules-button {
    background-color: rgb(2, 2, 41);
    color: gold;
    font-family: 'Nova Square', cursive;
    font-size:large;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 8px #558;
}


#start:hover, #rules-button:hover {
    color:rgb(145, 216, 216);
    background-color: rgb(11, 11, 70);
    box-shadow: 0 8px #558;
}

#start:active #rules-button:active {
 box-shadow: 0px 4px #558;
 background-color: rgb(11, 11, 70);
 transform: translateY(4px);
}


/*Media queries */

@media screen and (max-width: 800px) {

    #background-container {
        height: 180vh;      
    }    
   
    #intro-container, #rules-container {
        width: 80vw;
        top: 10vh;
        padding: 15px;
        border: greenyellow 5px solid;
        box-shadow: 0px 0px 20px 20px greenyellow;
        margin-bottom: 5vh;
    } 

    #intro-container p, #rules-container li {
        font-size: medium;
    }

    /* styles for container holding elements of the game */
    #game-container {
        position: relative; 
        top: 10vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;   
    }

    /* styles for the fuel gauge */
    #gauge-container {
        display: flex;
        width: 80%;
        height: auto;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        background-color: azure;
        border-radius: 20px;
        padding: 10px; 
        margin-left: 0px;       
    }

    
    #gauge {
        display: none;
    }

    
    /* styles for the questions section */
    #questions-container {
        min-height: fit-content;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        justify-items: center;
        border-radius: 20px;
        background-color: azure;
        padding: 15px;
        margin: 20px auto;
    }

    #question-image {
        display: none;
    }

    #question-text {
        text-align: center;
        width: 80%;
        height: fit-content;
        margin: 0px auto;
    }

        
    #answers-container {
        width: 80%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    .answer {
        height: auto;
        width: 60%;
        margin: 15px;
    }


    /* styles for planet-stats section */
    #current-planet {
        margin-top: 5vh;
        width: 80%;
        min-height: fit-content;
        display:flex;
        padding: 5px;
    }

    #current-planet h2, #current-planet th {
        padding-bottom: 0px;
    }


    #current-planet tbody {
        display: none;
        margin: 5px auto;
        width: fit-content;
    }

    #planet-img {
        display: none;
    }


    #flight-container {
        display: none;
    }

    
    #hide-stats, #show-stats{
        margin: 7px auto 11px;  
    }
    
    .reveal {
        display: block !important;
    }

    /*style modal elements */
    .modal-info {
        width: 70vw;
        padding: 15px;
        margin-top: 10px;
    }
}







